@charset "UTF-8";
/*GRID DE LAS SUBCATEGORIAS*/
.gridSubCategoria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.gridFiltro {
  background-color: #69696961;
  padding-left: 5px;
  margin-left: 0px;
}

.gridFiltro div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.gridFiltro input {
  width: 80%;
}

.gridProductos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  padding: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: -ms-grid;
  display: grid;
  /*3 columnas*/
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  /*background-color: pink;*/
  text-align: center;
}

.gridSalamandras {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

/* nuevo*/
.divProductos {
  margin: 5px;
  padding: 1px;
  background-color: #ffffff1f;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.53);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.53);
}

.divProductos a {
  color: #000;
  text-decoration: none;
}

.divProductos a:hover {
  color: #333333;
}

.divProductos:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.mainGas {
  border-top: 8px solid #881f14;
}

.mainGas .divProductos:hover {
  border: solid 1px #881f14;
}

.mainLeña {
  border-top: 8px solid #f77a27;
}

.mainLeña .divProductos:hover {
  border: solid 1px #f77a27;
}

.mainPellets {
  border-top: 8px solid #dac6ae;
}

.mainPellets .divProductos:hover {
  border: solid 1px #dac6ae;
}

.mainGLModerno {
  border-top: 8px solid #667754;
}

.mainGLModerno .divProductos:hover {
  border: solid 1px #667754;
}

.mainGLRustico {
  border-top: 8px solid #c49c51;
}

.mainGLRustico .divProductos:hover {
  border: solid 1px #c49c51;
}

.mainHeramienta {
  border-top: 8px solid #a38a76;
}

.mainHeramienta .divProductos:hover {
  border: solid 1px #a38a76;
}

.mainLimpieza {
  border-top: 8px solid #744128;
}

.mainLimpieza .divProductos:hover {
  border: solid 1px #744128;
}

.mainUtensillo {
  border-top: 8px solid #947b34;
}

.mainUtensillo .divProductos:hover {
  border: solid 1px #947b34;
}

.subCategorias {
  text-align: center;
}

.subCategorias p {
  text-align: initial;
}

.subCategorias h2 {
  margin-bottom: 50px;
}

@media (min-width: 360px) {
  .subCategorias img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 600px) {
  .subCategorias img {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .subCategorias img {
    width: 350px;
    height: 350px;
  }
}
/*# sourceMappingURL=bodyCategoria.css.map */