@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%; }

/*body*/
body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.body__bodyRegistro {
  background-color: #232122; }

/*main*/
main {
  margin-bottom: 5px; }

/*botones*/
.boton {
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  justify-content: center;
  background-color: black; }
  .boton a {
    color: white;
    text-decoration: none; }

.boton__index {
  background-color: #ffffff54;
  height: 35px;
  width: 130px;
  border-color: black;
  color: black; }

.boton__iniciar {
  height: 40px;
  width: 200px;
  color: #252525; }

.boton__botonAgregar {
  background-color: #2a3f68;
  color: white;
  height: 35px;
  width: auto;
  border-color: dimgray; }

.boton__inicio {
  background-color: black;
  color: white;
  border: none; }
  .boton__inicio a {
    text-decoration: none; }

.boton__formulario {
  height: 40px;
  width: 120px;
  color: black;
  background-color: rgba(255, 255, 255, 0.541); }

.boton__formulario--registro {
  border-bottom: solid 2px white; }

.boton__formulario--iniciar {
  border-bottom: solid 3px #5f5f5f; }

/*header*/
.header {
  position: sticky;
  top: 0px; }
  .header .headerChico {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    align-content: center;
    padding: 10px; }
    .header .headerChico h1 {
      color: #ffffff;
      font-family: Verdana; }
    .header .headerChico p {
      color: #FCF2EE; }

/* footer */
footer {
  background-color: black;
  color: #e0ddc1;
  grid-area: footer; }

.padre-flex-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 20px 5px; }

/* COMPORTAMIENTO */
.inLine {
  display: inline; }

.block {
  display: block; }

/*tablas*/
table {
  border: 20% solid;
  background-color: black;
  color: #e0ddc1;
  line-height: 150%; }
  table ul li {
    color: blanchedalmond; }

/* article */
article a {
  color: white; }

/*franjas*/
#franja {
  background-image: linear-gradient(#000000, #2a3f6859);
  height: 100px;
  width: 100%; }

#franjaClara {
  background-image: linear-gradient(#25272c59, white);
  height: 20px;
  width: 100%;
  margin-bottom: 20px; }

/*formularios registro y de inicio*/
.fotoForm {
  width: 100%;
  height: 100%; }

/*registro*/
.gridRegistro {
  display: grid;
  grid-template-rows: 400px 450px;
  grid-template-columns: 700px;
  text-align: center;
  color: white;
  justify-content: center; }

#registro {
  background-color: black;
  color: #f8f6f2; }

/*iniciar*/
.gridInicio {
  margin-top: 80px;
  display: grid;
  color: white;
  justify-content: center;
  text-align: center;
  grid-template-rows: 40px 400px 280px;
  grid-template-columns: 700px; }

/* a */
a {
  color: #7c7c7c;
  text-decoration: none; }

/* div */
div a {
  color: #c5c5c5;
  text-decoration: none; }

div .divProductos {
  margin: 5px;
  padding: 1px;
  background-color: #2a3f681f;
  text-align: center;
  transition: all 2ms; }

div .divProductos:hover {
  border: solid 5px black; }

/*contacto*/
.gridContacto {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 500px;
  text-align: left;
  margin: 20px; }

#contacto {
  display: grid;
  padding-left: 300px;
  font-size: 18px; }

.edesContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

/* consejo */
.gridConsejos {
  display: grid;
  grid-template-columns: 50% 50%; }

.consejos {
  display: grid;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px; }

/* visualizar */
.visualizarPrincipal {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto;
  margin: 2px; }

.gridFotos {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: 20px;
  padding: 2px; }

.redesVisualizar {
  text-align: right; }

.fotos {
  display: grid;
  grid-template-rows: 80% 20%;
  text-align: left; }

.informacionVisualizar {
  display: grid;
  grid-template-rows: 15% 10% 10% 15% 10% 5% 5%;
  margin-left: 10%;
  margin-top: 10px;
  padding-left: 15px; }

.descripcionTexto {
  overflow: hidden;
  background-color: #2a3f6866; }

.trans {
  height: 30px;
  width: 200px;
  transition: all 2s; }

.trans:hover {
  height: 400px;
  width: 300px; }

.descripcion {
  display: grid;
  grid-template-rows: 100px 50px;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  justify-content: center; }

/*GRID DE LAS SUBCATEGORIAS*/
.gridSubCategoria {
  display: grid;
  grid-template-columns: 20% 80%; }

.gridFiltro {
  background-color: #2a3f6861;
  padding-left: 5px;
  margin-left: 0px; }

.gridProductos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 5px; }

.grid {
  display: grid;
  /*3 columnas*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  /*background-color: pink;*/
  text-align: center; }

.gridSalamandras {
  margin: 5px;
  padding: 5px;
  text-align: center; }

/* estilos */
.bordesRedondos {
  border-radius: 40%; }

/* tamaños*/
.textoRelativo {
  font-size: 150%; }

/* posicion */
.centrar {
  text-align: center; }

.izquierda {
  text-align: left; }

.derecha {
  text-align: right; }

/* input */
.ver {
  background-color: #ffffff;
  /* Green */
  border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px; }

/* media queries para los tamaños de la letra*/
@media (min-width: 360px) {
  h2 {
    padding: 20px;
    font-size: 20px; }
  h3 {
    padding: 20px;
    font-size: 15px; }
  h4 {
    font-size: 11px; }
  p {
    font-size: 10px; } }

@media (min-width: 600px) {
  h2 {
    padding: 20px;
    font-size: 35px; }
  h3 {
    padding: 20px;
    font-size: 25px; }
  h4 {
    font-size: 16px; }
  p {
    font-size: 15px; } }

@media (min-width: 1024px) {
  h2 {
    padding: 20px;
    font-size: 40px; }
  h3 {
    padding: 20px;
    font-size: 30px; }
  h4 {
    font-size: 22px; }
  p {
    font-size: 20px; } }

/* animaciones */
.rotador {
  animation: rotando 2s ease-in 0s infinite; }

@keyframes rotando {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(90deg); }
  50% {
    transform: rotateY(180deg); }
  75% {
    transform: rotateY(270deg); }
  100% {
    transform: rotateY(360deg); } }
