/* footer */
.lineaAnchaFooter {
  background-color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.lineaFinaFooter {
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.lineaFinaFooter row {
  margin-right: 0px;
  margin-left: 0px;
}

.lineaFinaFooter .col {
  text-align: center;
}

.enlaces {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.credito {
  text-align: -webkit-right;
}

footer {
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer p {
  color: #b4b4b4;
}

footer ul li {
  line-height: normal;
  list-style: square;
}

footer ul li a {
  color: #c7c7c7;
}

.footer {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

/* media queries footer*/
@media (min-width: 360px) {
  footer p {
    font-size: 11px;
  }
  footer .lineaAnchaFooter {
    padding: 5px;
    padding-top: 15px;
    min-height: 77px;
  }
  footer .lineaAnchaFooter img {
    width: 45px;
    height: 45px;
  }
  footer .lineaAnchaFooter .redesFooter img {
    width: 15px;
    height: 15px;
  }
  footer .lineaFinaFooter {
    margin: 0px;
    padding: 5px;
    min-height: 50px;
  }
  footer .lineaFinaFooter .col {
    padding-left: 2px;
    padding-right: 2px;
  }
  footer .lineaFinaFooter .credito {
    padding-left: 2px;
    padding-right: 15px;
  }
}

@media (min-width: 600px) {
  footer p {
    font-size: 14px;
  }
  footer .lineaAnchaFooter {
    padding: 10px;
    height: 85px;
  }
  footer .lineaAnchaFooter img {
    width: 70px;
    height: 70px;
  }
  footer .lineaAnchaFooter .redesFooter img {
    width: 25px;
    height: 25px;
  }
  footer .lineaFinaFooter {
    margin: 0px;
    padding: 10px;
    height: 65px;
  }
  footer .lineaFinaFooter .col {
    padding-left: 4px;
    padding-right: 4px;
  }
  footer .lineaFinaFooter .credito {
    padding-left: 2px;
    padding-right: 15px;
  }
}

@media (min-width: 1024px) {
  footer p {
    font-size: 13px;
  }
  footer .lineaAnchaFooter {
    padding: 15px;
    height: 90px;
  }
  footer .lineaAnchaFooter img {
    width: 70px;
    height: 70px;
  }
  footer .lineaAnchaFooter .redesFooter img {
    width: 25px;
    height: 25px;
  }
  footer .lineaFinaFooter {
    margin: 0px;
    padding: 15px;
    height: 70px;
  }
  footer .lineaFinaFooter .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .lineaFinaFooter .credito {
    padding-left: 5px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=footer.css.map */