/* visualizar */ 

.verProducto{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    border-bottom-width: 40px;
    padding-bottom: 40px;
    background-color: white;
    text-align: -webkit-center;
    .informacionExtra{
        margin-top: 36px;
        margin-bottom: 36px;
        text-align: left;
        h3{
          border-bottom: 1px solid black;
          margin-bottom: 16PX;
        }
    }  
    
    .imagenVisualizar{
        text-align: center;
        background: linear-gradient(
            180deg
            , #e6e6e6d4, #e6e6e659)
     }
  
    .botonComprar{
        margin-top: 16px !important;
        text-align: center;
        justify-content: center;
        .comprar{
            background-color: black;
            color: white;
            border: solid 1px black;
            padding: 0px;
            margin: 8px 4px;          
        }
        .consultar{
            background-color: white;
            color: black;
            border: solid 1px black;
            padding: 0px;
            margin: 8px 4px;
        }
        a{
            padding: 0px;
        }
        button{
            width: 90%;
        }
    }
    .cantidad{
        align-items: flex-end;
        h5{
            width: auto;
            display: flex;
        }
        select{
            border: none;
            width: auto;
            display: flex;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 6px;
            padding-right: 30px;
        }
    }
    .datosProducto{
        text-align: left;
        background-color: #ffffff;
        margin-left: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        .row{
           margin: 4px 0px;
        }
        .colores{
            margin-top: 16px;
        }    
        
    }
    
}
/* media queries visualizar*/

@media (min-width: 360px) {
    .verProducto{
        h3{
            font-size: 17px ;
        }
        h2{
            font-size: 20px ;
        }
        h4{
            font-size: 20px;
        }
        p{
            font-size: 14px;
        }
        .container{
            margin-top: 20px;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            p{
                margin-bottom: 4px;
            }
        }
        img{
            height: 250px;
        }
        .botonComprar{
                button{
                    height: 50px;
                }
         }
         .producto{
             display: block;
             .datosProducto{
                margin-left: 0px;
            }
         }
        .informacionExtra{
            div{
                .row{
                    display: block
                }
            }
        }
    }
}       

 
 @media (min-width: 600px) {
    .verProducto{
        h2{
            font-size: 22px ;
        }
        h3{
            font-size: 19px ;
        }
        h4{
            font-size: 17px;
        }
        h5{
            font-size: small;
            color: rgb(0, 0, 0);
        }
        h6{
            font-size: x-small;
            color: rgb(148, 148, 148);
        }
        p{
            font-size: 16px;
        }
        .container{
            margin-top: 30px;
            width: 75%;
            p{
                margin-bottom: 8px;
            }
        }
        img{
            height: 300px;
        }
        .botonComprar{
                button{
                    height: 50px;
                }
         }
         .row{
            margin-bottom: 2px;
         }
         .informacionExtra{
            div{
                .row{
                    display: table;

                }
            }
        }
        .producto{
            .datosProducto{
                margin-left: 0px;
            }
        }
    }
 }
 
 @media (min-width: 1024px) {
    .verProducto{
        h2{
            font-size: 22px ;
        }
        h3{
            font-size: 19px ;
        }
        h4{
            font-size: 17px;
        }
        h5{
            font-size: small;
            color: rgb(0, 0, 0);
        }
        h6{
            font-size: x-small;
            color: rgb(148, 148, 148);
        }
        p{
            font-size: 16px;
        }
        .container{
            margin-top: 40px;
            width: 95%;
            padding: 0px;
            p{
                margin-bottom: 10px;
            }
        }
        img{
            height: 350px;
        }
        .botonComprar{
                height: 60px;
         }
         .row{
            margin-bottom: 3px;
         }
         .informacionExtra{
            div{
                .row{
                    display: flex;
                }
            }
        }
        .producto{
            display: flex;
            .datosProducto{
                margin-left: 40px;
            }
        }
    }
     
 }
