/*contacto*/ 
.contenedorContacto{
    color: #fbebbb;
    text-align: center;
    .tituloContacto{
        color: black;
        margin-left: 15px;
        font-family:system-ui;
        h2{
            padding: 2px;            
        }
    }
    .gridContac{
        display: grid;
        grid-template-rows: 400px 450px;
        grid-template-columns: 700px;
        text-align: center;
        color: white;
        justify-content: center;
        
        .botonEnviar{
            justify-content: center;
            .ghost {
                background-color: transparent;
                color:#a2a2a2;
                border: 2px solid #a2a2a2;
                transition: .2s ease;
                vertical-align: inherit;
                padding: 1px;
                margin: 2px;;
                
                &:hover {
                background-color: #a2a2a2;
                color: #232122;
                
                transition: .2s ease;
                }
            }
           margin-bottom: 0px;
        }
        .mensajeContacto{
            margin-bottom: 0px;
            textarea{
                width: 100%;
            }    
        }   
    }
    .fondoGris{
        background-color: #232122 ;
    
    }
    .accordion{
        padding-top: 25px;
        .arrowed{
            background-color:pink ;
            div {
              position: absolute;
              top: 0; bottom: 0; 
              margin: auto;
            }
       
           .arrow-1 {
               height: 15px; width: 15px;
               border: 1px solid #a2a2a2;
               border-width: 0px 2px 2px 0px;
               transform: rotate(45deg);
           }             
         }
      .accordion-button:not(.collapsed)::after {
            background-image: none;
       }
        .accordion-item{
            background-color: #949494;
            button{
                color: #ffffff;
                background-color: #232122;
            }
        }
        .datosContacto{
            color: black;
            h4, h5, p {
                margin:4px;
            }
        }
        .redesContacto{    
            .gridRedesContacto{
                display:  inline-flex;;
                background: bottom black;
             }
        }
    }

}
/* media queries contacto */


@media (min-width: 360px) {   
    .accordion-item{
        button{
            height: 10px;
        }
        .arrowed{
            div{
                right: 0px;
                left: 250px;
            }   
        }
    }   
    .contenedorContacto{
        padding-bottom: 20px; 
        margin-top: 15px;
        h2{
            font-size: 1 rem;
            margin: 2px;
        }
        legend{
            font-size: 0.95 rem;
        }
        h4{
            font-size: 0.95 rem;
        }
        h5{
            font-size: .8 rem;
        }
        p{
            font-size: 0.8 rem;
        }
        .gridContac{
            grid-template-rows: 25% 75%;
            grid-template-columns: 80%;
            
            textarea{
                height: 60px;
            }
            label{
                font-size: 0.6 rem;
            }
            input{
                padding: 2px;
                height: 20px;
            }
            div{
                margin: 0px;
            select{
                height: 25px;
                padding: 2px;
                padding-top: 0;
                padding-bottom: 0px;
            }

                button{
                    background-color: #eab769e0;
                    margin-top: 10px;
                    padding-right: 2px;
                    border-style: ridge;
                    padding-left: 2px;
                    border-bottom: solid 2px #7d5e00;
                    font-size: 0.8 rem;
                }
            }
    
        }
    }
}
 
 
 @media (min-width: 600px) {

    .accordion-item{
        button{
            height: 45px;
        }
        .arrowed{
            div{
                right: 0px;
                left: 550px;
            }   
        }
    }   
    .contenedorContacto{
        padding-bottom: 20px; 
        margin-top: 15px;
        h2{
            font-size: 1 rem;
            margin: 4px;
        }
        legend{
            font-size: 1.13 rem;
        }
        h4{
            font-size: 1.13 rem;
        }
        h5{
            font-size: 0.75 rem;
        }
        p{
            font-size: 0.8 rem;
        }
        .gridContac{
            grid-template-rows: 40% 60%;
            grid-template-columns: 70%;
            textarea{
                height: 100px;
            }
        
            label{
                font-size: 0.95 rem;
                
            }
            input{
                padding: 1px;
                height: 28px;
            }
            div{
                margin-bottom: 14px;
            select{
                height: 25px;
                padding: 2px;
                padding-top: 0;
                padding-bottom: 0px;
            }
            button{
                background-color: #eab769e0;
                margin-top: 10px;
                padding-right: 2px;
                border-style: ridge;
                padding-left: 2px;
                border-bottom: solid 2px #7d5e00;
                font-size: 0.8 rem;
                }
            }
        }
    } 
 }
 
 @media (min-width: 1024px) {
      
    .contenedorContacto{
        padding-bottom: 25px; 
        margin-top: 17px;
        h2{
            font-size: 1.4 rem;
            margin: 8px;
        }
        legend{
            font-size: 1.9 rem;
        }
        h4{
            font-size: 1.9 rem;
        }
        h5{
            font-size: 1.6 rem;
        }
        p{
            font-size: 1.6 rem;
        }
        .accordion-item{
            button{
                height: 65px;
            }
            .arrowed{
                div{
                    right: 0px;
                    left: 1100px;
                }   
            }
        } 
        .gridContac{
            grid-template-rows: 50% 50%;
            grid-template-columns: 70%;
            height: 850px;
            textarea{
                height: 130px;
            }
        
            label{
                font-size: 1.6 rem;
    
            }
            input{
                padding: 4px;
                height: 32px;
            }
            div{
                margin-bottom: 14px;
            select{
                height: 35px;
                padding: 2px;
                padding-top: 0;
                padding-bottom: 0px;
            }
            button{
                background-color: #eab769e0;
                margin-top: 10px;
                padding-right: 2px;
                border-style: ridge;
                padding-left: 2px;
                border-bottom: solid 2px #7d5e00;
                font-size: 1.25 rem;
                }
            }
        }
    } 
 }
 
