
/* consejo */

.consejos{
    .col{
        text-align: -webkit-center;
    }
    .accordion{
    text-align: -webkit-center;
    .accordion-item{
    background-color: #eab769e0;
    button{
        color: #fbebbb;
        background-color: #717171;
        width: 100%;
         }
    }
}

}
.videoConsejo{
    text-align: center;

}


/* media queries */


@media (min-width: 360px) {
    main{
        min-height: calc(75vh - 50px);
    }
    .consejos{
        padding: 8px;
        p{
            margin-left: 8px;
            margin-top: 8px;
        }
        h2{
            font-size: 20px;
        }
        .accordion{
            padding: 5px;
            .accordion-item{
                width: 325px;
                button{
                    height: 55px;
                    border: 2px solid #fbebbb;
                    }
            }
            .accordion-body{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .col{
            padding-bottom: 15px;
            padding-right: 0px;
            padding-left: 0px;
        }
        .videoConsejo{
            iframe{
                width: 300px;
                height: 200px;
            }
            
        }
    }
}
@media (min-width: 600px) {
    main{
        min-height: calc(80vh - 50px);
    }
    .consejos{
        padding: 10px;
        p{
            margin-left: 10px;
            margin-top: 10px;
        }
        h2{
            font-size: 45px;
            padding-top: 20px;
            padding-bottom: 50px;
        }
        .accordion{
            h2{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            padding: 8px;
            .accordion-item{
                width: 700px;
                button{
                    height: 75px;
                    border: 2px solid #fbebbb;
                 }
             }
             .accordion-body{
                .accordion-body{
                    padding-left: 10px;
                    padding-right: 10px;
                }
             }
         }
         .col{
             padding-bottom: 25px;
         }
        .videoConsejo{
            iframe{
                width: 650px;
                height: 400px;
            }
            
        }
    }
 }
 
 @media (min-width: 1024px) {
    main{
        min-height: calc(70vh - 50px);
    }
    .consejos{
        padding: 20px;
        p{
            margin-left: 15px;
            margin-top: 15px;
        }
        h2{
            font-size: 30px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .accordion{
            h2{
                padding-top: 2px;
                padding-bottom: 3px;
            }
            padding: 10px;
            .accordion-item{
                width: 900px;
                button{
                    height: 85px;
                    border: 3px solid #fbebbb;
                 }
             }
             .accordion-body{
                .accordion-body{
                    padding-left: 15px;
                    padding-right: 15px;
                }
             }
         }
         .col{
             padding-bottom: 35px;
         }
        .videoConsejo{
            iframe{
                width: 750px;
                height: 450px;
            }
            
        }
    }
     
 }
 