/* visualizar */ 

.verProducto{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    border-bottom-width: 40px;
    padding-bottom: 40px;
.informacionExtra{
        
:root {
    --contentHeight: 30vh;
    --sectionWidth: 700px;
  }
  
  * {
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000;
  }
  
  section {
    max-width: var(--sectionWidth);
    width: 97%;
    color: rgb(0, 0, 0);
  }
  
  summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    border-bottom: 2px solid;
    user-select: none;
  }
  
  details > div {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    user-select: none;
    padding: 0 20px;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
  }
  
  details > div > img {
    align-self: flex-start;
    max-width: 100%;
    margin-top: 20px;
  }
  
  details > div > p {
    flex: 1;
  }
  
  details[open] > summary {
     color: rgb(0, 0, 0);
  }
  
  @media (min-width: 360px) {
    details[open] > div > p {
      opacity: 0;
      animation-name: showContent;
      animation-duration: 0.6s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
      margin: 0;
      padding-left: 20px;
    }
  
    details[open] > div {
      animation-name: slideDown;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  
    details[open] > div > img {
      opacity: 0;
      height: 100%;
      margin: 0;
      animation-name: showImage;
      animation-duration: 0.3s;
      animation-delay: 0.15s;
      animation-fill-mode: forwards;
    }
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
      padding: 0;
    }
  
    to {
      opacity: 1;
      height: var(--contentHeight);
      padding: 20px;
    }
  }
  
  @keyframes showImage {
    from {
      opacity: 0;
      clip-path: inset(50% 0 50% 0);
      transform: scale(0.4);
    }
  
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
  
  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
    }
    .colores{
        button{
         margin-left: 10px;   
        }
        
    }
    .botonRedondo{
        border-radius: 50%;
        width: auto;
        color: #ffc107;
    }
    .gris{
        background-color: rgb(116, 116, 116);
    }
    .negro{
        background-color: black;
    }
    .blanco{
        background-color: white;
    }
    .datosProducto{
        background-color: #ffffff;
        padding: 20px 5px;
    }
    .imagenVisualizar{
        text-align: center;
        background-color: #ffc107;
   }
    .container{
        border-radius: 8px;
        h3{
            color: #303030;
        }
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.53);
     }
     .container:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0,0,0,0.3);
     }  
    tbody{
        border-width: 0px;
    }
    td {
        padding: 5px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px ;
        border-left: 0px;
        
    }
    tr{
        border-width: 0px;
    }
    
   .botonComprar{
        justify-content: center;
        a{
            text-align-last: center;
        }
        .ghostOscuro {
            background-color: transparent;
            color:#ffc107;
            border: 2px solid #ffc107;
            transition: .2s ease;
            vertical-align: inherit;
            padding: 1px;
            margin: 2px;;
            
            &:hover {
            background-color: #ffc107;
            color: rgb(0, 0, 0);
            
            transition: .2s ease;
            }
        }
        .ghostClaro {
            background-color: #ffc107;
            color:rgb(0, 0, 0);
            border: 2px solid #ffc107;
            transition: .2s ease;
            vertical-align: inherit;
            padding: 1px;
            margin: 2px;;
            
            &:hover {
            background-color: transparent;
            color: #000000e0;
            
            transition: .2s ease;
            }
        }

            button{
                background-color: #eab6698e;
                color: white;
            }
            margin-bottom: 0px;
        }
 
}
/*tablas*/
table {
   
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    line-height: 150%;
    caption-side: bottom;
    border-collapse: collapse;
    width: -webkit-fill-available;
    margin: 20px;
    
    
    ul {
        li{
        color: #d8d8d8;
        }
    }
}
/* media queries visualizar*/

@media (min-width: 360px) {
    .verProducto{
        h3{
            font-size: 17px ;
        }
        h2{
            font-size: 20px ;
        }
        h4{
            font-size: 20px;
        }
        p{
            font-size: 14px;
        }
        .container{
            margin-top: 20px;
            width: 80%;
            p{
                margin-bottom: 4px;
            }
        }
        img{
            height: 250px;
        }
        .botonComprar{
                button{
                    width: 80%
                }
         }
     
    }
}       

 
 @media (min-width: 600px) {
    .verProducto{
        h3{
            font-size: 19px ;
        }
        h2{
            font-size: 22px ;
        }
        h4{
            font-size: 17px;
        }
        p{
            font-size: 16px;
        }
        .container{
            margin-top: 30px;
            width: 75%;
            p{
                margin-bottom: 8px;
            }
        }
        img{
            height: 300px;
        }
        .botonComprar{
                button{
                    width: 70%
                }
         }
         .row{
            margin-bottom: 2px;
         }
    }
 }
 
 @media (min-width: 1024px) {
    .verProducto{
        h3{
            font-size: 20px ;
        }
        h2{
            font-size: 23px ;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 17px;
        }
        .container{
            margin-top: 40px;
            width: 55%;
            p{
                margin-bottom: 10px;
            }
        }
        img{
            height: 350px;
        }
        .botonComprar{
                button{
                    width: 60%
                }
         }
         .row{
            margin-bottom: 3px;
         }
    }
     
 }
