
.salamandras{
    h2{
        margin: 10px 15px;
    }
    
    p{
        margin: 15px 40px;
    }
    h3{
    background-color: #ebbe7a7d;
    }
    a{
        text-decoration: none;
    }
}
.categoriaSalamandra{
    div{
        .col{
        background-color: #d0d0d021;            
        }
        margin-bottom: 15px;
    }
}


.botonVerCategoria{
    justify-content: center;
    .ghost {
        background-color: transparent;
        color:#eab769e0;
        border: 2px solid #eab769e0;
        transition: .2s ease;
        vertical-align: inherit;
        padding: 1px;
        margin: 2px;;
        
        &:hover {
          background-color: #eab769e0;
          color: white;
          transition: .2s ease;
          border-collapse: floor($number: 0);
        }
      }
    button{
        background-color: #eab6698e;
        color: white;
        width: 50%;
    }
    
}


/* media queries */


@media (min-width: 360px) {
    .salamandras{
        h2{
       font-size: 23px;
        } 
        h3{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
        } 
        
        
        .categoriaSalamandra{
            margin-bottom: 50px;
            margin-top: 50px;
            p{
            font-weight: 700;
            font-size: 14px;
             }
        }
        p{
            font-size: 14px;
        }
    }
   
}
  
@media (min-width: 600px) {
    .salamandras{
        h2{
         font-size: 25px;
        } 
        h3{
            margin-top: 22px;
            margin-bottom: 22px;
            font-size: 22px;
        } 
        p{
            font-size: 16px;
        }
        
        .categoriaSalamandra{
            margin-bottom: 80px;
            margin-top: 80px;
            p{
            font-weight: 700;
            font-size: 17px;
            }
            .botonVerCategoria{
                padding: 10px;
            }
            div{
                margin-right: 2px;
            }
        }
    }
}
 
@media (min-width: 1024px) {
    .salamandras{
        h2{
         font-size: 27px;
        } 
        h3{
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: 24px;
        } 
        p{
            font-size: 18px;
        }
        
        .categoriaSalamandra{
            margin-bottom: 70px;
            margin-top: 70px;
            p{
            font-weight: 650;
            font-size: 19px;
            }
            .botonVerCategoria{
                padding: 11px;
            }
            div{
                margin-right: 10px;
            }            
        }
    }
     
}