

/* footer */ 

footer{
    .lineaAnchaFooter{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    margin-right: 0px;
    margin-left: 0px;

    }
    .lineaFinaFooter{
        background-color: #0e0e0e;
        display: flex;
        align-items: baseline;
        height: 100%;
        row{
            margin-right: 0px;
            margin-left: 0px;
        }
        .col{
            text-align: center;
        }
    }
    p{
        margin-bottom: 2px;
    }
    a:hover{
        color:#949494;
    }
}



.enlaces{
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    align-content: center;
   
}
.credito{
    text-align: -webkit-right

}
footer{
    width: 100%;
    a{
        text-decoration: none;
    }
    p{
       color: rgb(180, 180, 180);
    }
    ul{
        li{
            line-height: normal;
            list-style:square ;
            a{
                color: rgb(199, 199, 199);
            }
        }
    }
}
.footer{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}



/* media queries footer*/


@media (min-width: 360px) {
   footer{
       p{
           font-size: 14px;
       }
       .lineaAnchaFooter{
            
            padding: 5px;
            padding-top: 15px;
            
           img{
               width: 45px;
               height: 45px;
               margin-right: 2px;
           }
            .redesFooter{
                img{
                    width: 15px;
                    height: 15px;
                }
            }   
       }
       .lineaFinaFooter{
            margin: 0px;
           padding: 5px;
           
           .col{
               padding-left: 2px;
               padding-right: 2px;
           }
           .credito{
            padding-left: 2px;
            padding-right: 15px;
           }
       }
   }
   
}


@media (min-width: 600px) {
	footer{
        p{
            font-size: 15px;
        }
        .lineaAnchaFooter{
            padding: 10px;
           
            img{
                width: 65px;
                height: 65px;
                margin-right: 6px;
            }
             .redesFooter{
                 img{
                     width: 25px;
                     height: 25px;
                 }
             }   
        }
        .lineaFinaFooter{
            margin: 0px;
            padding: 10px;
            
            .col{
                padding-left: 4px;
                padding-right: 4px;
            }
            .credito{
             padding-left: 2px;
             padding-right: 15px;
            }
        }
    }
}

@media (min-width: 1024px) {
    footer{
        p{
            font-size: 16px;
        }
        .lineaAnchaFooter{
            padding-bottom: 20px;
            padding-top: 20px;
                      
            img{
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }
             .redesFooter{
                 img{
                     width: 20px;
                     height: 20px;
                 }
             }   
        }
        .lineaFinaFooter{
            margin: 0px;
            padding-bottom: 6px;
            padding-top: 6px;
            
            .col{
                padding-left: 10px;
                padding-right: 10px;
            }
            .credito{
             padding-left: 5px;
             padding-right: 15px;
            }
        }
    }
    
} 