

/* footer */ 

footer{
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    .row{
        width: 100%;
        margin: 0px;
    }
    .redesFooter{
        display: inline;
        text-align: center;
        padding: 0px;
        margin: 0rem 0.5rem 1rem 0.5rem;
    }
    .logoFooter{
        justify-content: center;
        img{
            padding: 0px;
            margin: 0px;
        }
        margin: 2rem 0.5rem 1rem 0.5rem;
        padding: 0px;
    }
    .enlaces{
        text-align-last: center;
        margin: 0.5rem;
    }
    .creditos{
        margin: 1rem 0.5rem 0rem 0.5rem;
        padding-bottom: 1rem;
    }
    a{
        text-decoration: none;
    }
    div{
       p{
        margin-bottom: 2px;
        color: #818181;
        a{
            color: #818181;
            font-weight: bold;
         }
        a:hover{
            color:white;
            }
        }     
    }
    

}

/* media queries footer*/


@media (min-width: 360px) {
   footer{
       p{
           font-size: 14px;
       }
       .logoFooter{
           img{
               width: 64px;
               height: 64px;
           }
       }
        .redesFooter{
            img{
              width: 24px;
              height: 24px;
            }
        }   
        .enlaces{
            display: block;
        }
        .creditos{
            display: block;
        }
   }
   
}


@media (min-width: 600px) {
	footer{
        p{
            font-size: 15px;
        }
        .logoFooter{
            img{
                width: 72px;
                height: 72px;
            }
        }
         .redesFooter{
             img{
               width: 32px;
               height: 32px;
             }
         }   
         .enlaces{
             display:flex;
         }
         .creditos{
            text-align: center;
            display: flex;
        }
    }
}

@media (min-width: 1024px) {
    footer{
        p{
            font-size: 16px;
        }
        .logoFooter{
            img{
                width: 80px;
                height: 80px;
            }
        }
         .redesFooter{
             img{
                width: 32px;
                height: 32px;
             }
         }
        .enlaces{
            display: inline-flex;
        }   
        .creditos{
            text-align: center;
            display: flex;
        }
    }
} 