
/* media queries nav*/
nav{
    background-color: black !important;
}
@media (min-width: 360px) {
    nav{
        padding-top: 2px;
        padding-bottom: 2px;
        .container-fluid{
            font-size: 0.87rem;
        }
        .navbar-toggler{
            font-size: 0.87rem;
        }
        .dropdown-menu{
            font-size: 0.87rem;
        }
    }
}
 
 
 @media (min-width: 600px) {
    nav{
        padding-top: 4px;
        padding-bottom: 4px;
        .container-fluid{
            font-size: 1rem;
        }
        .navbar-toggler{
            font-size: 1rem;
        }
        .dropdown-menu{
            font-size: 1rem;
        }
    }
 }
 
 @media (min-width: 1024px) {
    nav{
        padding-top: 8px;
        padding-bottom: 8px;
        .container-fluid{
            font-size: 1.1rem;
        }
        .dropdown-menu{
            font-size: 1.1rem;
        }
    }    
 }
 