
/* media queries nav*/

@media (min-width: 360px) {
    nav{
        padding-top: 2px;
        padding-bottom: 2px;
        .container-fluid{
            font-size: 0.6rem;
        }
        .navbar-toggler{
            font-size: 0.65rem;
        }
        .dropdown-menu{
            font-size: 9px;
        }
    }
}
 
 
 @media (min-width: 600px) {
    nav{
        padding-top: 4px;
        padding-bottom: 4px;
        .container-fluid{
            font-size: 0.9rem;
        }
        .navbar-toggler{
            font-size: 0.851.0
        }
        .dropdown-menu{
            font-size: 13px;
        }
    }
 }
 
 @media (min-width: 1024px) {
    nav{
        padding-top: 8px;
        padding-bottom: 8px;
        .container-fluid{
            font-size: 1.0rem;
        }
        .dropdown-menu{
            font-size: 14px;
        }
    }    
 }
 