
@import "../scss/footer.scss";
@import "../scss/bodyCategoria.scss";
@import "../scss/bodyConsejos.scss";
@import "../scss/bodyContacto.scss";
@import "../scss/bodyIndex.scss";
@import "../scss/bodyInicioRegistro.scss";
@import "../scss/bodySalamandra.scss";
@import "../scss/bodyVisualizar.scss";
@import "../scss/footer.scss";
@import "../scss/general.scss";
@import "../scss/header.scss";
@import "../scss/nav.scss";
@import "../scss/bodyGuardaLena.scss";
@import"../scss/bodyCategoriaAccesorios.scss";


/*MODIFICACIONES BOOTSTRAP*/

/* EN DROPDOWN.SCSS */

$dropdown-bg: rgba(77, 77, 77, 0.678);
$dropdown-link-color: rgb(230, 230, 230);

/* EN BUTTOM */
.btn {
    width: 100px;
    height: 30px;
}
.btn--dark{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    
}   

/* CODIGO DE BOOTSTRAP */ 

@import "../node_modules/bootstrap/scss/bootstrap.scss";

